/*u21669849, Qwinton Knocklein*/
.homepage {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Content Area */
.content-area {
  display: flex;
  flex: 1;
  padding: 10px;
  gap: 10px;
}

.left-column {
  flex-direction: row;
  width: 25%;
  flex: 1;
  padding: 10px;
  gap: 10px;
}

.right-column {
  flex-direction: row;
  width: 75%;
  flex: 2;
  padding: 10px;
  gap: 10px;
}