/*u21669849, Qwinton Knocklein*/
.homepage {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../images/Home-background.jpg');
  justify-content: space-between;
  overflow-y: hidden;
}

/* Content Area */
.content-area {
  display: flex;
  gap: 10px;
}

.left-column {
  flex-direction: row;
  width: 20%;
  padding: 10px;
  gap: 10px;
}

.right-column {
  flex-direction: row;
  width: 80%;
  padding: 10px;
  gap: 10px;
}