/*u21669849, Qwinton Knocklein*/
.playlist-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playlist-title {
  font-size: 18px;
  color: #333;
}

.playlist-tags {
  font-size: 14px;
  color: #999;
}

.playlist-creator {
  font-size: 16px;
  color: #666;
}