/* Profile details section */

.user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(25, 25, 25, 0.95);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-info {
    flex: 1;
    color: white;
  }