/*u21669849, Qwinton Knocklein*/
.right-column {
    width: 75%;
    background-color: rgba(25, 25, 25, 0.76); /* Transparent dark gray */
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  h2 {
    color: #F14424;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .song-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
  }
  
  .song-item {
    text-align: center;
  }
  
  .song-item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  
  .song-info h3 {
    font-size: 18px;
    color: white;
    margin-top: 10px;
  }
  
  .song-info p {
    font-size: 14px;
    color: #D3D3D3;
  }
  