/*u21669849, Qwinton Knocklein*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  background-image: url('../images/Home-background.jpg');
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #F14424;
  text-align: center;
}

a {
  text-decoration: none;
  color: #0889A6;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #F14424;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0889A6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
