/*u21669849, Qwinton Knocklein*/
.allPlaylist-column {
  background-color: rgba(25, 25, 25, 0.95); /* Transparent dark gray */
  color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  height: calc(100vh - 30%);
}

.allPlaylist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.allPlaylist-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.allPlaylist-list {
  width: 100%;
  list-style: none;
  padding: 0;
}

.allPlaylist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.allPlaylist-item img {
  border-radius: 10px;
  width: 75px;
  height: 75px;
}

.allPlaylist-info {
  margin-left: 15px;
}

.heart-icon {
  width: 40px !important;
  height: 40px !important;
}
