/*u21669849, Qwinton Knocklein*/
.allPlaylist-column {
  background-color: rgba(25, 25, 25, 0.95); /* Transparent dark gray */
  color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  height: calc(100vh - 30%);
}

.allPlaylistCol-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.view-toggle-icon {
  cursor: pointer;
  width: 30px !important;
  height: 30px !important;
}

.allPlaylist-title {
  font-size: 28px;
  margin-bottom: 20px;
}

/*Grid view*/
.allPlaylistCol-grid.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.allPlaylist-item.grid {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/*List view*/
.allPlaylistCol-grid.list {
  display: flex;
  flex-direction: column;
}

.allPlaylist-item.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.allPlaylist-item.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.allPlaylist-item img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.allPlaylist-info {
  margin-left: 15px;
}

.heart-icon {
  width: 40px !important;
  height: 40px !important;
}
