/*u21669849, Qwinton Knocklein*/
.allPlaylist-column {
    background-color: rgba(25, 25, 25, 0.95);
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    height: calc(100vh - 32%);
    overflow-y: scroll;
  }
  
  .allPlaylistCol-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .allPlaylistCol-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .allPlaylistCol-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .allPlaylistCol-btn button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .allPlaylistCol-item {
    text-align: center;
  }
  
  .allPlaylistCol-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  
  .allPlaylistCol-info h3 {
    font-size: 18px;
    color: white;
    margin-top: 10px;
  }
  
  .allPlaylistCol-info p {
    font-size: 14px;
    color: #D3D3D3;
  }