/*u21669849, Qwinton Knocklein*/
.song-details {
    display: flex;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.95);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: calc(100vh - 32%);
}

.song-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
}

.song-information {
    flex: 1;
    color: white;
}

.song-information h1 {
    margin: 0;
    font-size: 32px;
}

.song-information h2 {
    margin: 0;
    font-size: 24px;
}

.song-information h3 {
    margin: 0;
    font-size: 18px;
    color: #0889A6;
}

.song-information p {
    margin: 5px 0;
    font-size: 16px;
}